/* @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Cormorant+Garamond:400,400i,500,500i,600,600i,700,700i|Cutive+Mono|Exo+2:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Martel:400,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Volkhov:400,400i,700,700i&display=swap'); */


.textDesign {
    /* margin: 20px; */
    /* padding: 20px; */
    /* width: 350px; */
    text-align: justify;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

p, li{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    font-size: 15px;
    text-align: justify;
    /* margin-right: 20px;  */
    /* margin: .8px; */
}

.theBox {
 width: 75%;
 text-align: justify;
}