.Pagination{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.Contractors {
 list-style-type: none;
  margin: 5px, 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contractorJob  {
    padding-bottom: 4px;
   }

.conCol {
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding: 0 15px;
}

.conCol ul {
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    /* border: 1px solid rgb(105, 105, 105); */
    padding: 10px;
    margin: 15px;
    /* box-sizing: border-box; */
    text-align: center;
    /* box-shadow: 2px 2px 5px rgba(71, 71, 71, 0.432); */
}
.twoCol{
display: grid;
grid-template-columns: repeat(2 1fr);
}

.mainDisplay{
    margin-left: 3em; 
}

.Contractors li:first-child{
    font-weight: 600;
    font-size: 13px;
}

.Contractors li:nth-child(2){
    font-size: 16px;
}
.mod{
    padding-left: 3em;
    }
    
    input[type="submit"] {
        background-color: #002D72;
        padding: 20px;
        color: white;
        font-family: 'Cutive Mono', monospace;
        font-size: 16px;
        font-weight: 700;
    }

    .contractorJobs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }