
.mainDisplay{
    margin-left: 3em; 
}

.mod{
    padding-left: 3em;
    }
    
    input[type="submit"] {
        background-color: #002D72;
        padding: 20px;
        color: white;
        font-family: 'Cutive Mono', monospace;
        font-size: 16px;
        font-weight: 700;
    }

    label {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    .justText {
        text-align: justify;
        width: 300px;
    }

    td {
        font-size: 12px;
        text-align: center;
    }
    .tablePadding {
        padding: 0 4px;
        font-weight: bold;

    }
    .tableHeader{
        font-size: 19px;
        font-weight: 700;
    }

    .centeredTable{
        display: flex;
        justify-content: center;
    }

.jobBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Banner button {
    width: 140px;
    font-size: 12px;
    margin: 0 0 0 15px;
}

.mod ul {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.mod li {
    padding-bottom: 5px;
}

.mod ul span {
    font-weight: 800;
}