.Contractors {
    list-style-type: none;
     margin: 5px, 0;
     padding: 0;
   }
   
.conCol {
       display: grid;
       grid-template-columns: repeat(4,auto);
       padding: 5px 15px;
   }

   button{
       width: 100px;
       /* height: 20px; */
       padding: 5px;
       margin: 5px;
       background-color: #0077C8;
       color: white;
       box-shadow: 2px 2px 5px rgba(71, 71, 71, 0.432);
       font-family: 'Exo 2', sans-serif;
       font-weight: 600;
   }